body {
  
  background-color:antiquewhite;
  margin: 10% 10%
}
h1 {
  color:;
  font-size: 35px;
 
}

h2 {
  color: Blue;
  font-size: 24px;
  font-family: Calibri;  
}

.header {
  padding-left: 12px;

}

.photo {
width: 200px;
height: 155px
object-fit: contain:

}

.profsum {

border-bottom:5px solid

}
.workhistory {

border-bottom:5px solid #dddddd;
}

.skills {
border:2px solid black;
padding-left: 20;

}


















